VITE_CLIENT_ID=TU_CLIENT_ID_AQUI
VITE_TENANT_ID=TU_TENANT_ID_AQUI
VITE_CLIENT_SECRET=TU_CLIENT_SECRET_AQUI
SESSION_SECRET=genera_un_secreto_aleatorio_aqui
BFF_PORT=3001
FRONTEND_PORT=5173
VITE_BFF_PORT=3001
# HTTPS=true para habilitar HTTPS local (requiere certs/ generados con openssl)
